*{
    padding: 0px;
    margin: 0px;
}
@import url('https://fonts.cdnfonts.com/css/netflix-font');
body{
    background-color: black;
}
/*Background*/

.main{
    height: 700px;
    background-image: url(Assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:max(1400px,100vw);
    position: relative;
}
/*Opacity*/
.clone{
    background-color: black;
    width: 100%;
    height: 700px;
    opacity: 0.64;
    /* border: 2px solid white; */
    position: absolute;
    top: 0px;
}

/*Nav bar*/
.logo{
    /* background-color: rgba(255, 255, 255, 0.315); */
    height:10vh ;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}
.logo span img {
    height: 60px;
}
#opt{
    background-color: rgba(255, 255, 255, 0.089);
    border:1px solid rgb(153, 150, 150);
    margin: 0px;
    font-weight: bolder;
    color: white;
    padding: 7px 15px 7px 18px;
}
.button button{
    background-color: red;
    padding: 6px 15px 6px 15px;
    color: white;
    font-weight: bolder;
    border:1px solid rgb(153, 150, 150);
}
/*middle part*/
.text{
    /* background-color: rgba(0, 255, 255, 0.241); */
    height: 190px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    position: relative;
    font-family: 'Netflix Font', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainfont{
    text-align: center ;
    font-weight:900;
}
.mainfont :first-child{
    font-size: 42px;
}
.mainfont :nth-child(3){
    font-size: 35px;
}
.mainfont :nth-child(5){
    font-size: 18px;
    color: rgb(205, 19, 19);
}
.mainfont :nth-child(6){
    font-size: 16px;
    padding: 0%;
}
.mainfont :nth-child(9){
    font-size: 16px;
    line-height: 10px;
    color: rgba(205, 205, 205, 0.603);
}

/*singin bar*/
.log-bar{
    /* background-color: rgba(255, 255, 255, 0.407); */
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Netflix Font', sans-serif;

}
#text{
    color: white;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.singin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
.singin button{
    background-color: red;
    padding: 6px 15px 6px 15px;
    color: white;
    font-weight: bolder;
    border:1px solid rgb(153, 150, 150);
}
#email-main{
    background-color: rgba(255, 255, 255, 0.192);
    padding: 10px 60px 10px 10px;
    border: 2px solid gray;
    color: white;
    font-size: larger;
    border-radius: px;
}
#email-main::placeholder{
    color: rgb(65, 62, 62);
}

.devid-x{
    box-shadow: 50px 5px 50px rgb(255, 19, 235);
}

.devid{
    background: linear-gradient(to right, #120101, #e924a7,rgb(244, 7, 244),#e924a7, #0a0007  );
    height: 10px;
    border-radius:20px 0px 20px 0px ;
    box-shadow: 2px 2px 50px hotpink;
    border-bottom-color:white;
}

/*Tranding part*/
.trand-text span{
    font-size: 20px;
    font-family: 'Netflix Font', sans-serif;
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    
}

/*trending contain part that contain movies*/
.tranding{
    /* margin-top: 100px; */
        /* background-color: rgba(255, 255, 255, 0.281); */
        display: flex;
    align-items: center;
    justify-content: center;
        overflow: visible;
        padding: 30px;
}
.trand-text{

    margin: auto;
    margin-top: 50px;
    width: 90%;
}
.trand-text span{
    font-size: 35px;
    padding: 20px;
}


.box{
    display: flex;
    gap: 10px;
    
}
.item img{
    border-radius: 10px;
    overflow: hidden;
}
/*mediaquaris*/
@media screen and (max-width:1690px) {
    .item img{
        height:180px ;
}
}
@media screen and (max-width:1290px) {
    .item img{
        height: 150;
    }
}
@media screen and (max-width:600px) {
    .item img{
        height: 100px;
    }
}
@media screen and (max-width:400px) {
    .item img{
        height: 95px;
    }
}

/*a box im 4 box*/
.box-main-txt{
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.flex-box{
    background:  linear-gradient( 110deg ,  rgb(29, 16, 75) ,  rgb(16, 11, 61)  , rgb(12, 3, 33)  ,rgb(12, 7, 39)  ) ;
    width: 400px;
    height: 350px;
    border-radius: 25px;
    box-shadow: 0px 1px 5px gray ;
}
.model-text{
    font-size: 30px;
    padding: 20px;
}
.flex-font{
    font-size: 18px
}

/*color and font*/
.model-text  {
    color: white;
    font-family: 'Netflix Font', sans-serif;
    font-weight: 900;

}
.box-main-txt div {
    color: white;
    font-family: 'Netflix Font', sans-serif;
    padding: 20px;
    font-weight: 900;
}



/*Media quaris*/